@import "tailwindcss";

@theme {
  --font-Iran: font-Iran;
  --font-num: font-num;
}
@font-face {
  font-family: font-Iran;
  src: url("./assets/fonts/Qs_Iranyekan\ medium.ttf");
}
@font-face {
  font-family: font-num;
  src: url("./assets/fonts/PersianPageNumber-Bold.ttf");
}
* {
  font-family: var(--font-Iran);
}
.product-swiper .swiper-button-disabled {
  display: none;
}

.product-swiper {
  direction: rtl;
}

.swiper-slide {
  height: auto;
}
::-webkit-scrollbar {
  width: 8px;
  height: 90px;
}

::-webkit-scrollbar-track {
  background: #f0f0f1;
}

::-webkit-scrollbar-thumb {
  background: #c0c2c5;
}

::-webkit-scrollbar-thumb:hover {
  background: #c0c2c5;
}


