@import "tailwindcss";

@theme {
  --font-Iran: font-Iran;
  --font-num: font-num;
}
@font-face {
  font-family: font-Iran;
  src: url("./assets/fonts/Qs_Iranyekan\ medium.ttf");
}
@font-face {
  font-family: font-num;
  src: url("./assets/fonts/PersianPageNumber-Bold.ttf");
}
* {
  font-family: var(--font-Iran);
}
.product-swiper .swiper-button-disabled {
  display: none;
}

.product-swiper {
  direction: rtl;
}

.swiper-slide {
  height: auto;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  scrollbar-width: none;
}

/* Main page scrollbar */
html {
  scrollbar-color: #8c837d #f5f5f5;
  scrollbar-width: thin;
}

html::-webkit-scrollbar {
  width: 12px;
}

html::-webkit-scrollbar-track {
  background: #f5f5f5;
  box-shadow: inset 1px 0 0 #d8d8d8;
}

html::-webkit-scrollbar-thumb {
  min-height: 64px;
  border: 2px solid #f5f5f5;
  border-radius: 0;
  background: #8c837d;
}

html::-webkit-scrollbar-thumb:hover {
  background: #716964;
}

html::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}
